<div class="jumbotron bg-danger text-center text-light">
  <h1>New York Post Scraper</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-12">
      <button class="btn btn-primary text-center m-3" id="scrape">SCRAPE</button>
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary text-center m-3">VIEW SAVED</button>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-12">
      <div class="card">
        <div class="card-header">
          NY Post Article Results
        </div>
        <div class="card-body">
          <table id="results">
            <thead>
            </thead>
            <tbody>
              results here
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

